{% extends 'base.html' %}
{% block content %}




<h2>{{ page_title }}</h2>
<!--Two curly braces denote an expression that's going to display on the page, page_title is the variable we added to run.py-->
<p>
	The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
	recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
	Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
	Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
	Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
	action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
	leave on other business, welcomed a fourteenth to fill into their party.
</p>

{% for member in company %}
<!--This for loop iterates through all the data in the company.json file, down to the endfor and injects the HTML and the variables we have set here-->



<div class="row featurette">

	{% if loop.index % 2 != 0 %}
	<!--This checks hte loop index and divides it by 2, if it doesn't divide cleanly then it will display the below HTML-->

	<div class="col-md-7">
		<h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }} </a></h3>
		<!-- This takes the name value from each member object. The loop object is included with jinja templating language, here we're using the index property
        member.url is a new key and value created in our company.json file. And we've created an <a> link out of their name.
        -->
		<p>
			{{ member.description }}
			<!--This takes the description value for each member object-->
		</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive" src="{{ member.image_source }}" style="width:100%;" alt="Generic placeholder image">
    </div>
		{% else %}
        <!--This else statement displays the image first if the index is even-->
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="{{ member.image_source }}" style="width:100%;" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
		<h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }} </a></h3>
		<!-- This takes the name value from each member object. The loop object is included with jinja templating language, here we're using the index property-->
		<p>
			{{ member.description }}
			<!--This takes the description value for each member object-->
		</p>
	</div>
			{% endif %}
			<!-- This finishes the if statement-->
		</div>

        {% if loop.index != 13 %}
        <!--If the loop index is not 13, the below horizontal rule will be displayed-->

		<hr class="featurette-divider">

        {% endif %}

		{% endfor %}
		<!--Every time the for loop is evaluated the HTML inside the for loop is going to be injected into our template-->

		{% endblock %}